<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GUInity_Editor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GUInity_EditorDynamic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4694EE361A4A3A16001E8C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46E6DC081B535EAC005262F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46E6DCBC1B53603E005262F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46E6DD2C1B53657E005262F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
